.container{
    width: 750px;
    height: 550px;
    background-color: rgb(255, 255, 255) ;
    box-shadow: inset 0px 0px 10px black;
position: relative;
top: 50px;
left: 230px;
border: none;
border-radius: 12px;


img{
width: 400px;
position: relative;
top: 50px;
}
h2{
    position: absolute;
    right: 53px;
    top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
color: blue;
}
.input1{
    position: absolute;
    right:35px ;
    top: 180px;
    width: 320px;
    height: 40px;
    border-radius: 12px;
    box-shadow: inset 0px 0px 5px black;
}
.input2{
    position: absolute;
    right:35px ;
    top: 250px;
        width: 320px;
            height: 40px;
                border-radius: 12px;
                    box-shadow: inset 0px 0px 5px black;




}
}
input::placeholder{
position: relative;
left: 30px;
font-size: large;
font-weight: 600;

}
.a1{
     position: absolute;
    right:210px ;
    top: 320px;
    font-size: 1.4em;
}
button{
      position: absolute;
    right:30px ;
    top: 390px;
    font-size: 1.6em;
    width: 335px;
    height: 40px;
    border-radius: 12px;
background-color: blue;
    color: white;



}
p{
      position: absolute;
    right:100px ;
    top: 430px;
a{
    text-decoration: none;
}
}
